body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul .artigo {
    list-style: none;
    padding-left: 5px;
}

a {
    color: blue;
    text-decoration: none;
}

.bar {
    font-size: 40px;
    font-family: sans-serif;
    display:flex;
    background-color: #f9f9fb;
    padding: 15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
    justify-content: center;
}

.sub-linha {
    color: rgb(127, 25, 141);
    display: block;
    margin-left: 2em;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    max-width: 90%;
    font-size: 12px;
    margin-left: 60px;
    text-align: left;
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}

footer .links li {
    list-style-type: none;
    display: inline-block;
}

footer ul {
    display: flex;
    padding-left: 0%;
    gap: 20px;
}

footer ul .links,
li,
a {
    color: #36c;
}

.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}

.anchors h2{
    display: flex;
    position: sticky;
    flex-direction: column;
    top:10px;
}

.artigo {
    display: flex;
    position: sticky;
    flex-direction: column;
    top:50px;
}

.sidebar {
    border-right: solid 1px #cdcdcd;
}

.sidebar h2{
    display: flex;
    position: sticky;
    flex-direction: column;
    top:10px;
}

.sidebar ul{
    display: flex;
    position: sticky;
    flex-direction: column;
    top:50px;
}

figure {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* tira espaços entre as células */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 12px 10px;
    text-align: center;
    border-bottom: 1px solid #bebcbc;
    border-right: 1px solid #bebcbc;
    font-size: 14px;
}

thead {
    background-color: #b1b3b35b;
    color: rgb(8, 7, 7);
    font-weight: bold;
}

span {
    color: #36c;
}

.Referencias{
    margin-bottom: 30px;
}

/*ações aos elementos*/
a:hover {
    text-decoration: underline;
}

.footer span:hover {
    text-decoration: underline;
}
